.artdeco1 {
  margin-left: -8px;
  margin-top: -8px;
}

nav {
  display: flex;
  justify-content: space-between;
}

h1 {
  color: #1a2236;
  width: 220px;
  line-height: 100%;
  margin-top: 19px;
  margin-left: 16px;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
}

p {
  color: #1a2236;
  width: 288px;
  height: 80px;
  margin-top: 21px;
  margin-left: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

button {
  border-color: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  width: 288px;
  margin-left: 16px;
  height: 50px;
  background: #1a2236;
  color: white;
  margin-bottom: 17px;
  border-width: 1px 1px 1px 1px;
}

button:hover {
  color: #1a2236;
  background: white;
}

button:active {
  color: #1a2236;
  background: white;
  border-width: 2px 2px 2px 2px;
}

.box1 {
  background: #1a2236;
  display: grid;
  justify-items: center;
  width: 320px;
}

.greenul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

.greenli {
  font-size: 14px;
  color: #1a2236;
  border: 1px solid #98dede;
  background-color: #98dede;
  margin-right: 3px;
}

.projectName {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: white;
  font-weight: 1px;
}

.bordersolid {
  border: 1px solid white;
}

.rectangle {
  position: relative;
  color: white;
}

.rectangletext {
  position: absolute;
  top: 23%;
  left: 3%;
}

.rectangletext2 {
  position: absolute;
  top: 50%;
  left: 25%;
}

.rectanglesymbol1 {
  position: absolute;
  bottom: 4px;
  left: 186px;
}

.rectanglesymbol2 {
  position: absolute;
  bottom: 4px;
  left: 193px;
}

.rectanglesymbol3 {
  position: absolute;
  left: 185px;
  top: 185px;
}

.marginleft {
  margin-left: 17px;
}

.maryPoppins {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.maryPoppins2 {
  font-family: 'Poppins', sans-serif;
}
