nav {
  display: flex;
  justify-content: space-between;
}

.stickimg {
  position: absolute;
  margin-top: 23px;
}

.artdeco {
  padding-top: 6px;
}

.dottedimg1 {
  height: 0;
  width: 0;
  visibility: hidden;
}

.decoration1 {
  background-image: url(../resources/image_geometry_1.svg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 77px;
  margin-left: -8px;
  margin-top: -8px;
}

.decoration1andAhalf {
  background-image: url(../resources/image_geometry_1.svg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 77px;
  width: 115px;
  left: 2px;
  position: absolute;
}

.decoration2 {
  background-image: url(../resources/image_geometry_2.svg);
  background-repeat: no-repeat;
  padding-bottom: 164px;
}

.decoration3 {
  visibility: hidden;
}

.weirddeco1 {
  visibility: hidden;
}

h1 {
  color: #1a2236;
  width: 220px;
  line-height: 100%;
  margin-top: 19px;
  margin-left: 16px;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
}

h2 {
  color: #1a2236;
  line-height: 100%;
  margin-top: 79px;
  margin-left: 16px;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  margin-bottom: 19.3px;
  font-weight: normal;
}

.p1 {
  color: #1a2236;
  width: 288px;
  height: 80px;
  margin-top: 21px;
  margin-left: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.p2 {
  color: #1a2236;
  width: 220px;
  line-height: 100%;
  margin-top: 19px;
  margin-left: 16px;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  margin-bottom: 25px;
}

.p2:hover {
  transform: scale(1.1);
  transition-duration: 2s;
}

.button1 {
  border-color: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  width: 288px;
  margin-left: 16px;
  height: 50px;
  background: #1a2236;
  color: white;
  margin-bottom: 17px;
  border-width: 1px 1px 1px 1px;
  animation: button1Animation 3s;
}

.button31416 {
  border-color: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  width: 254px;
  margin-left: 16px;
  height: 70px;
  background: #1a2236;
  color: white;
  margin-bottom: 17px;
  border-width: 1px 1px 1px 1px;
  animation: button1Animation 3s;
}

@keyframes button1Animation {
  50% {
    transform: scale(1.04);
    box-shadow: 10px 10px #1a22362d;
  }
}

.button2 {
  border-color: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  width: 207px;
  margin-left: 16px;
  height: 50px;
  background: #1a2236;
  color: white;
  margin-bottom: 17px;
  border-width: 1px 1px 1px 1px;
  position: relative;
  left: 24px;
}

button:hover {
  color: #1a2236;
  background: white;
}

button:active {
  color: #1a2236;
  background: white;
  border-width: 2px 2px 2px 2px;
}

.box1 {
  background: #1a2236;
  display: grid;
  justify-items: flex-start;
  width: 319px;
}

.box2 {
  background: #1a2236;
  display: grid;
  justify-content: space-between;
  color: #92dcdc;
  width: 319px;
}

.box3 {
  background: #1a2236;
  display: grid;
  justify-items: flex-start;
  width: 319px;
}

.box4 {
  background: #1a2236;
  display: grid;
  justify-items: flex-start;
  width: 319px;
}

.cooldeco1 {
  visibility: hidden;
}

.greenul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding-left: 27px;
}

.greenli {
  font-size: 14px;
  color: #1a2236;
  border: 1px solid #98dede;
  background-color: #98dede;
  margin-right: 3px;
}

.projectName {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: white;
  padding-left: 25px;
  margin-bottom: -4px;
}

.bordersolid {
  border: 1px solid white;
  margin-left: 2px;
}

.rectangletext {
  position: absolute;
  top: 23%;
  left: 3%;
}

.rectangletext2 {
  position: absolute;
  top: 23%;
  left: 3%;
}

.rectanglesymbol2 {
  position: absolute;
  bottom: 4px;
  left: 193px;
}

.rectanglesymbol3 {
  position: absolute;
  left: 185px;
  top: 185px;
}

.yellowdot {
  height: 0;
  width: 0;
  visibility: hidden;
}

.marginleft {
  margin-left: 17px;
}

.maryPoppins {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.maryPoppins2 {
  font-family: 'Poppins', sans-serif;
}

.poundsign {
  background-image: url(../resources/pound.svg);
  background-repeat: no-repeat;
  padding-bottom: 102px;
  position: relative;
  left: 187px;
  top: 187px;
}

.squaresign {
  background-image: url(../resources/Group18.png);
  background-repeat: no-repeat;
  padding-bottom: 102px;
  position: relative;
  left: 193px;
  top: 194px;
}

.lightbulb {
  background-image: url(../resources/ic_skills.svg);
  background-repeat: no-repeat;
  padding-bottom: 102px;
  position: relative;
  left: 185px;
  top: 187px;
}

.rectangle1 {
  background-color: #064c8a;
  height: 289px;
  width: 289px;
  position: relative;
  color: white;
  margin-bottom: 15px;
}

.rectangle2 {
  background-color: #e2505c;
  height: 289px;
  width: 289px;
  position: relative;
  color: white;
  margin-bottom: 27px;
}

.rectangle3 {
  background-color: #ffc04f;
  height: 289px;
  width: 289px;
  position: relative;
  color: white;
  margin-bottom: 12px;
  margin-top: -12px;
}

.noOF {
  position: relative;
  bottom: 1px;
}

.getstarted {
  position: relative;
  margin-left: 17px;
  width: 288px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  background: #f9f9fa;
}

footer ul {
  list-style: none;
}

.getstarted ul {
  list-style: none;
  padding-left: 0;
}

input {
  width: 288px;
  height: 52px;
  border: 1px solid #1a2236;
  border-radius: 4px;
  margin-bottom: 10px;
}

textarea {
  width: 288px;
  height: 112px;
  border: 1px solid #1a2236;
  border-radius: 4px;
  margin-bottom: 20px;
}

.desktopnav ul {
  display: flex;
  list-style: none;
}

.getstarted form ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.getstarted header p {
  margin-left: 16px;
}

.awhite {
  color: white;
  margin-right: 30px;
}

.awhite:hover,
i:hover {
  color: #92dcdc;
  transform: scale(1.2);
  transition-duration: 1.5s;
}

.dflex {
  display: flex;
  margin-left: 30px;
}

.dflex8 {
  visibility: hidden;
  height: 0;
  width: 0;
}

.social {
  display: flex;
}

.coolarrow {
  margin-top: 17px;
  margin-left: 10px;
}

.posrev {
  position: relative;
}

.crazylabel {
  color: #7d7c84;
  position: absolute;
  top: 2px;
  left: 4px;
  font-size: 11px;
}

.desktopnav {
  visibility: hidden;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #1a2236;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  display: flex;
  justify-content: center;
}

.desktopnav ul li {
  margin-right: 30px;
}

.awesomedeco1 {
  background-image: url(../resources/image-geometry_7.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 1488px;
  top: 296px;
  visibility: hidden;
  width: 353px;
  height: 351px;
}

.awesomedeco2 {
  background-image: url(../resources/image-geometry_6.svg);
  background-repeat: no-repeat;
  position: absolute;
  visibility: hidden;
  width: 353px;
  height: 351px;
  left: -86px;
}

.imggeo2 {
  height: 0;
  width: 0;
  visibility: hidden;
}

.imggeo5 {
  height: 0;
  width: 0;
  visibility: hidden;
}

.fixGap1 {
  margin-bottom: -5px;
}

.imgGroup83 {
  height: 0;
  width: 0;
  visibility: hidden;
}

.redSquare {
  height: 0;
  width: 0;
  visibility: hidden;
}

.imageDots2 {
  height: 0;
  width: 0;
  visibility: hidden;
}

.dflex3 {
  display: flex;
  justify-content: center;
}

.pad-right {
  padding-right: 21px;
}

@media screen and (min-width: 768px) {
  .decoration1 {
    visibility: hidden;
  }

  .decoration2 {
    visibility: hidden;
  }

  .decoration3 {
    background-image: url(../resources/Thur.png);
    background-repeat: no-repeat;
    padding-bottom: 164px;
    height: 877.09px;
    visibility: visible;
    width: 1403px;
    position: relative;
    margin-left: 1136px;
  }

  .desktopflex {
    display: flex;
    justify-content: space-between;
  }

  .desktopnav {
    visibility: visible;
  }

  .dflex2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .dflex {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  .dflex8 {
    display: flex;
    position: absolute;
    top: 39px;
    left: 69px;
    visibility: visible;
    width: 220px;
    font-size: 18px;
    font-weight: bold;
  }

  .social {
    position: absolute;
    left: 1360px;
    top: 30px;
    font-size: x-large;
  }

  .grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .header1 {
    margin-top: -94px;
  }

  .rectangle1 {
    margin-bottom: 0;
  }

  .rectangle2 {
    margin-left: 0;
    margin-bottom: 12px;
  }

  .weirddeco1 {
    position: relative;
    visibility: visible;
  }

  .weirddeco2 {
    position: absolute;
    left: 34px;
    top: 113px;
  }

  .weirddeco3 {
    position: absolute;
    left: 207px;
    top: 51px;
  }

  .dottedimg1 {
    visibility: visible;
    position: absolute;
    height: 175px;
    width: 175px;
    top: 701px;
    left: -174px;
  }

  .awesomedeco1 {
    visibility: visible;
  }

  .awesomedeco2 {
    visibility: visible;
  }

  .getstarted {
    width: 100%;
    margin-left: 0;
    margin-bottom: 85px;
    padding-bottom: 83px;
  }

  .projectsrotate {
    font-size: 110px;
    transform: rotate(-90deg);
  }

  .box3 {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  .cooldeco1 {
    visibility: visible;
  }

  .box1 {
    position: absolute;
    left: 880px;
    top: -51px;
    width: 960px;
  }

  .box2 {
    width: 100%;
    position: absolute;
    height: 123px;
    left: 0;
    top: 3971px;
    display: flex;
    justify-content: space-between;
  }

  .noOF {
    width: 960px;
  }

  .yellowdot {
    position: absolute;
    top: 1305px;
    visibility: visible;
    left: 979px;
    height: 88px;
    width: 88px;
  }

  .imggeo5 {
    position: absolute;
    top: 1303px;
    height: 125px;
    width: 212px;
    visibility: visible;
  }

  .rectangle21 {
    position: absolute;
    top: 671px;
    left: 1380px;
    width: 444px;
    z-index: -1;
  }

  .imggeo2 {
    position: absolute;
    height: 350px;
    width: 511px;
    left: 867px;
    top: 671px;
    visibility: visible;
  }

  .floatingBox {
    position: absolute;
    left: 1324px;
    top: 762px;
  }

  .aboutTopMargin {
    margin-top: 1460px;
  }

  .imgGroup83 {
    position: absolute;
    left: 1486px;
    top: 1107px;
    height: 176px;
    width: 351px;
    visibility: visible;
  }

  .redSquare {
    position: absolute;
    left: 876px;
    top: 1118px;
    height: 176px;
    width: 176px;
    visibility: visible;
  }

  .laptopPic1 {
    position: absolute;
    left: 1067px;
    top: 1303px;
    width: 393px;
  }

  .ABLaptop {
    position: absolute;
    top: 835px;
    width: 800px;
  }

  .imageDots2 {
    position: absolute;
    height: 175px;
    width: 175px;
    left: 703px;
    top: -48px;
    visibility: visible;
  }

  .laptopPic2 {
    position: absolute;
    top: 567px;
    width: 465px;
  }

  .tealimg {
    width: 26px;
    height: 53px;
    padding-left: 18px;
  }

  .styleName {
    position: absolute;
    left: 362px;
    top: 211px;
  }

  .p2 {
    font-size: 110px;
  }

  h2 {
    font-size: 110px;
    font-weight: bold;
  }

  .newWidth {
    width: 600px;
  }

  .crazyBox {
    display: flex;
  }
  
  .crazyBox2 {
    width: 615px;
  }

  .margRight1 {
    margin-right: 31px;
  }
}
